<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/fragment :: head">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<nav th:replace="fragment/fragment :: navbar">
</nav>
<div class="container col-md-6">
    <h1>Tilmeld nyhedsbrev</h1>
    <p>
        Her kommer alle vores nyeste og bedste tilbud, både på produkter og klipninger.
    </p>
    <form action="/shop/signup" method="post">
        <!--        <input class="form-control" type="text" name="idNews" placeholder="E-mail">-->
        <div class="form-inline">
            <input class="form-control" type="email" name="email" required="" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="acceptTerms" class="form-check-label">
                Læs vores <a target="_blank" th:href="@{'/terms'}">betingelser</a> og accepter dem i checkboxen for at fortsætte.
            </label>
            <input id="acceptTerms" class="form-check-inline" type="checkbox" required="" name="acceptTerms">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Tilmeld</button>
        </div>
    </form>
</div>

</body>
</html>