<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/fragment :: head">
<body>
<nav th:replace="fragment/fragment :: adminFragment"/>
<div class="container">
    <h1>
        Liste over Nyhedsbreve
    </h1>




    <div>
        <table class="table table-condensed table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>data</th>
                <th>filename</th>
                <th>fileType</th>
                <th>img</th>

            </tr>
            </thead>
            <tbody>
            <tr> </tr>
            <p th:each="img : ${img}">
            <td> <a target="_blank" th:href="@{'/downloadFile/' + ${img.id}}"><span th:text="${img.id}">id</span> </a></td>
            <td> <span th:text="${img.data}">data</span> </td>
            <td> <span th:text="${img.fileName}">name</span> </td>
            <td> <span th:text="${img.fileType}">type</span> </td>
            <td><img height="50" width="50" th:src="@{'/downloadFile/' + ${img.id}}"> </td>

<!--            <td><a th:href="@{'/admin/updateFiles/' + ${img.id}}">Tryk her</a></td>-->


            </tr>
            </tbody>
        </table>
    </div>
    <a href="/admin/uploadFile" class="btn btn-info">
        <!--<span class="glyphicon glyphicon-cutlery"></span> Add Teacher!-->
        Upload ny Billed
    </a>
</div>

<h3>
    Gå til
    <a href="/admin/images/products"> images with products</a>
</h3>

</body>
</html>