<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Reno Blvd.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/admin/">Admin</a>
                <a class="nav-item nav-link" href="/admin/products">Produkter</a>
                <a class="nav-item nav-link" href="/admin/category">Kategory</a>
                <a class="nav-item nav-link" href="/admin/images">Billeder</a>
                <a class="nav-item nav-link" href="/admin/images/products">ProduktBilleder</a>
                <a class="nav-item nav-link" href="/admin/customer">Kunder</a>
                <a class="nav-item nav-link" href="/admin/news">Nyheder</a>
                <a class="nav-item nav-link" href="/admin/storeinfo">StoreInfo</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/logout">
                    Log ud
                </a>
            </div>
        </div>
        <
    </div>
</nav>
<nav>
</nav>
</body>
</html>