<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/fragment :: head">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<nav th:replace="fragment/fragment :: navbar">
</nav>

<div class="container col-md-6">

    <h1>Opret dig som en kunder her</h1>

    <form  action="/shop/createCustomer" method="post">
        <div class="form-group">
            <label for="firstName" class="form-text">Fornavn</label>
            <input required class="form-control" type="text" id="firstName" name="firstName" placeholder="Fornavn">
        </div>
        <div class="form-group">
            <label for="lastName" class="form-text">Efternavn</label>
            <input required class="form-control" type="text" id="lastName" name="lastName" placeholder="Efternavn">
        </div>
        <div class="form-group">
            <label for="phoneNumber" class="form-text">Telefon</label>
            <input required class="form-control" type="tel" id="phoneNumber" name="phoneNumber" placeholder="Telefon">
        </div>
        <div class="form-group">
            <label for="email" class="form-text">E-mail</label>
            <input required class="form-control" type="email" id="email" name="email" placeholder="E-mail">
        </div>
        <div class="form-group">
            <label for="acceptTerms" class="form-check-label">
                Læs vores <a target="_blank" th:href="@{'/terms'}">betingelser</a> og accepter dem i checkboxen for at fortsætte.
            </label>
            <input required id="acceptTerms" class="form-check-inline" type="checkbox" name="acceptTerms">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Tilmeld</button>
        </div>
    </form>
</div>

</body>
</html>