<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/fragment :: head">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<nav th:replace="fragment/adminfragment :: navbar"/>

<div class="container">
    <h1>Tilmeld nyhedsbrev</h1>
    <p>
        Her kommer alle vores nyeste og bedste tilbud, både på produkter og klipninger.
    </p>

    <form class="form-inline"  action="/admin/createNewsletter" method="post">
<!--        <input class="form-control" type="text" name="idNews" placeholder="E-mail">-->
        <input class="form-control" type="text" name="email" placeholder="Email">
        <button type="submit" class="btn btn-info">Tilmeld</button>
    </form>
</div>

</body>
</html>