<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/fragment :: head">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<nav th:replace="fragment/adminfragment :: navbar"/>


<h1>
    ADMIN!
</h1>
<p>
Gå til
<a href="/admin/news"> Nyhedsbrev</a>
    Gå til <a href="/admin/category"> Kategorier</a>
    Gå til <a href="/admin/products"> Produkter</a>
    Gå til <a href="/admin/images"> Billeder</a>
    Gå til <a href="/admin/customer"> customerInfo</a>
</p>
</body>
</html>